<footer class="footer">
    <span>Copyright © 2022</span>
    <span style="margin-left: 1rem; margin-right: 1rem;">|</span>
    <a class="footer-link" href="https://github.com/DonovanDMC/ImageGen">Source Code</a>
    <span style="margin-right: 1rem;">|</span>
    <a class="footer-link" href="https://yiff.rest">Main Site</a>
    <span style="margin-right: 1rem;">|</span>
    <a class="footer-link" href="https://furry.cool">Personal Site</a>
    <span style="margin-right: 1rem;">|</span>
    <a class="footer-link" href="https://maid.gay">Bot</a>
</footer>
