<head>
  {% include "partials/header.html" %}
  <script src="/assets/tablesort.js"></script>
</head>

<body>
  <div class="content">
    {% include "partials/navbar.html" %}
    <div class="showcase">
      <img class="showcase-img" alt="IMGEN-LOGO" src="/assets/icon.png">
      <h1 class="slogan">THE <span>ONLY</span> IMAGE GENERATION API YOU'LL EVER NEED</h1>
      <code
        class="code-sample ">wget --header=<span>"Authorization: tokenhere"</span> https://imgen.yiff.rest/api/changemymind?text=dank%20memer%20is%20the%20best</code>
      <div class="buttons">
        <a href="/request" class="showcase-button">Get Access</a>
        <a href="/documentation" class="showcase-button">Documentation</a>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
</body>
